@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

h1 {
  font-family: 'Righteous', cursive;
}

body {
  margin-left: 30px;
}

form {
  display: grid;
  align-items: center;

  width: 200px;
  
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;

  font-family: 'Righteous', cursive;
}

#creator {
  grid-template-rows: repeat(4, 1fr);
  height: 140px;
  margin-bottom: 10px;
}

#filter {
  grid-template-columns: 2fr 1fr;
}

input, select{
  font-family: inherit;
  padding: 5px;

  border-radius: 5px;
  border: inherit;
}

option {
  color: grey;
}

input:focus, select:focus {
  outline: none;
}

#creator input[type=submit]{
  place-self: center start;
  padding: 5px 13px;
  text-decoration: underline;
}

#filter input[type=submit]{
  place-self: end end;
  padding: 5px 13px;
  text-decoration: underline;
}

.icon {
  width: 1em;
  float: right;
  opacity: 0;
}

#links {
  width: 30vw; 
}

li:hover .icon {
  opacity: 1;
}